<form>
    <div class="btn-group" role="group">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/gvzrn0czgqg5gu6/AACoVx3QwaR2qMheDI_eGKPsa?dl=1">Lighting</a>
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/89ijnupd0pdbjxk/AAD5Nb3cz5SS7J9dKwyaLXcea?dl=1">Checkin</a>
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/htkecvdl51yl1el/AACu1G25_-1bH7smInhX6xlZa?dl=1">Protools</a>
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/z7kx8n4zkjinome/AAA8VsrXiFHHsCaO2eqEmZADa?dl=1">Propresenter</a>
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/58y0ptiugnoolu9/AACvOH7odHUWaMfl_dbTfVoYa?dl=1">Smaart</a>
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/7z92lzgkmnwz1me/AAAIZsnKsHUbMv6xkC2KCNpTa?dl=1">Usermac</a>
                <a class="dropdown-item" target="_blank" href="https://www.dropbox.com/sh/is4jp5wuig9tycd/AADrNCSbkgBlSivHHV9PASEpa?dl=1">Count</a>
            </div>
        </div>
</div>
</form>