<form>
    <div class="form-group">
        <select class="btn btn-light btn-small" target="_blank" class="form-control">
            <option href="https://www.dropbox.com/sh/gvzrn0czgqg5gu6/AACoVx3QwaR2qMheDI_eGKPsa?dl=1">Lighting</option>
            <option href="https://www.dropbox.com/sh/89ijnupd0pdbjxk/AAD5Nb3cz5SS7J9dKwyaLXcea?dl=1">Checkin</option>
            <option href="https://www.dropbox.com/sh/htkecvdl51yl1el/AACu1G25_-1bH7smInhX6xlZa?dl=1">Protools</option>
            <option href="https://www.dropbox.com/sh/z7kx8n4zkjinome/AAA8VsrXiFHHsCaO2eqEmZADa?dl=1">Propresenter</option>
            <option href="https://www.dropbox.com/sh/58y0ptiugnoolu9/AACvOH7odHUWaMfl_dbTfVoYa?dl=1">Smaart</option>
            <option href="https://www.dropbox.com/sh/7z92lzgkmnwz1me/AAAIZsnKsHUbMv6xkC2KCNpTa?dl=1">Usermac</option>
            <option href="https://www.dropbox.com/sh/is4jp5wuig9tycd/AADrNCSbkgBlSivHHV9PASEpa?dl=1">Count</option>
        </select>
        <input type="submit" class="btn btn-dark btn-small">
    </div>
</form>