{{template "header.tmpl.html"}}

<body>
    <div class="jumbotron">
        <h1 class="display-3">Image Downloads</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-light btn-lg" href="#" role="button">Lighting</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Protools</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Propresenter</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Smaart</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Checkin</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Windows User</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Mac User</a>
        </p>
    </div>

    {{template "footer.tmpl.html"}}