{{template "header.tmpl.html"}}

<body>
    <div>
        <div>
            <div class="jumbotron">
                <h1 class="display-3">Welcome!</h1>
                <p class="lead">All Documentation for configuring computers can be found at this link below</p>
                <a class="btn btn-dark btn-small" href="https://www.dropbox.com/sh/7z615n54lrhxpg8/AAC1zJCUDvsHoLMzETjJ3zR2a?dl=0" target="_blank" role="button">Documentation</a>
                <hr class="my-4">
                <p></p>
                <p class="lead">
                    <h1 class="display-3">Image Downloads</h1>
                    <hr class="my-4">
                    <p class="lead">
                        {{template "form.tmpl.html"}}
                    </p>
                    <h1 class="display-3">Individial Application Downloads</h1>
                    <hr class="my-4">
                    <p class="lead">
                        <div class="btn-group" role="group">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kaseya</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/nczqji1g1lk1wm2/KcsSetup.zip?dl=1">Mac</a>
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/ev0r0341bmjlum1/KcsSetup.exe?dl=1">Windows</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Outlook</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/3jmqji7ck7lmb7j/Microsoft_Office_2016_15.38.17090200_Installer.pkg?dl=1">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop3" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Dropbox</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                                        <a class="dropdown-item" href="https://www.dropbox.com/download" role="button">Mac or Windows</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop4" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Vidyo Connect</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/3n74b8fkjyznqg9/VidyoConnectInstaller-macosx-TAG_VCOND_17_3_1_3401%5Bp%3Dhttps%26h%3Dlifechurch.vidyocloud.com%26f%3DRzpJUENPOklQQ0k6TW9kOlRMUzpQQzpQdWJDOkNEUjpFUDpDUDpSUEk6QkE6TkRDOkNQUjpQUjpTUjI6U1I6VFA%3D%5D.dmg?dl=1"role="button">Mac</a>
                                    </div>
                                </div>


                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop5" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Chrome</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                                        <a class="dropdown-item" href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop6" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Firefox</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop6">
                                        <a class="dropdown-item" href="https://www.mozilla.org/en-US/firefox/new/?scene=2" role="button">Mac or Windows</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop7" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Propresenter</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop7">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/z7pogswlir1qeob/ProPresenter6_6.2.7_b16049.dmg?dl=1" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop8" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Protools</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop8">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/m0kvlnc1p4smvi1/Pro_Tools_2018_1_Mac_101476.dmg?dl=1" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop9" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Vista</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop9">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/b7qu0aga995nuhe/Vista_Installer-2.3.17736.dmg?dl=1" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop10" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Slack</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop10">
                                        <a class="dropdown-item" href="https://slack.com/ssb/download-osx" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop11" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Spotify</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop11">
                                        <a class="dropdown-item" href="https://download.scdn.co/SpotifyInstaller.zip" role="button">Mac or Windows</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop12" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Cisco AnyConnect</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop12">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/8h46z4nrrv3p542/Anyconnect-Mac.dmg?dl=1" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop13" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Creative Cloud</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop13">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/4ko97tmw020zoe2/CreativeCloudInstaller.dmg?dl=1" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop14" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Dante Controller</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop14">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/anjdwq1xt5bq0jt/DanteController-3.10.0.19_osx.dmg?dl=1" role="button">Mac</a>
                                    </div>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop15" type="button" class="btn btn-light btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">Wallpapers</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop15">
                                        <a class="dropdown-item" href="https://www.dropbox.com/s/bm8i0wxedejcwvx/_Worship%20Background.jpg?dl=1" role="button">FOH Wallpaper</a>
                                    </div>
                                </div>
                        </div>
                    </p>
                </p>
            </div>
        </div>
    </div>
    {{template "footer.tmpl.html"}}