{{template "header.tmpl.html"}}

<body>
    <div class="jumbotron">
        <h1 class="display-3">Individial Application Downloads</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/nczqji1g1lk1wm2/KcsSetup.zip?dl=1" role="button">Kaseya Mac</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/ev0r0341bmjlum1/KcsSetup.exe?dl=1" role="button">Kaseya Windows</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/3jmqji7ck7lmb7j/Microsoft_Office_2016_15.38.17090200_Installer.pkg?dl=1" role="button">Outlook</a>
            <a class="btn btn-light btn-small" href="www.dropbox.com/download" role="button">Dropbox</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/3n74b8fkjyznqg9/VidyoConnectInstaller-macosx-TAG_VCOND_17_3_1_3401%5Bp%3Dhttps%26h%3Dlifechurch.vidyocloud.com%26f%3DRzpJUENPOklQQ0k6TW9kOlRMUzpQQzpQdWJDOkNEUjpFUDpDUDpSUEk6QkE6TkRDOkNQUjpQUjpTUjI6U1I6VFA%3D%5D.dmg?dl=1" role="button">Vidyo</a>
            <a class="btn btn-light btn-small" href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" role="button">Chrome</a>
            <a class="btn btn-light btn-small" href="https://www.mozilla.org/en-US/firefox/new/?scene=2" role="button">Firefox</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/z7pogswlir1qeob/ProPresenter6_6.2.7_b16049.dmg?dl=1" role="button">Propresenter</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/m0kvlnc1p4smvi1/Pro_Tools_2018_1_Mac_101476.dmg?dl=1" role="button">Protools</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/b7qu0aga995nuhe/Vista_Installer-2.3.17736.dmg?dl=1" role="button">Vista</a>
            <a class="btn btn-light btn-small" href="https://slack.com/ssb/download-osx" role="button">Slack</a>
            <a class="btn btn-light btn-small" href="https://download.scdn.co/SpotifyInstaller.zip" role="button">Spotify</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/8h46z4nrrv3p542/Anyconnect-Mac.dmg?dl=1" role="button">Cisco AnyConnect</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/4ko97tmw020zoe2/CreativeCloudInstaller.dmg?dl=1" role="button">Creative Cloud</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/anjdwq1xt5bq0jt/DanteController-3.10.0.19_osx.dmg?dl=1" role="button">Dante Controller</a>
        </p>
        <p>
                <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/bm8i0wxedejcwvx/_Worship%20Background.jpg?dl=1" role="button">FOH Wallpaper</a>
        </p>
    </div>

    {{template "footer.tmpl.html"}}