{{template "header.tmpl.html"}}

<body>
    <div class="jumbotron">
        <h1 class="display-3">Individial Application Downloads</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/nczqji1g1lk1wm2/KcsSetup.zip?dl=1" role="button">Kaseya Mac</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/ev0r0341bmjlum1/KcsSetup.exe?dl=1" role="button">Kaseya Windows</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/3jmqji7ck7lmb7j/Microsoft_Office_2016_15.38.17090200_Installer.pkg?dl=1" role="button">Outlook</a>
            <a class="btn btn-light btn-small" href="#" role="button">Dropbox</a>
            <a class="btn btn-light btn-small" href="#" role="button">Vidyo</a>
            <a class="btn btn-light btn-small" href="#" role="button">Chrome</a>
            <a class="btn btn-light btn-small" href="#" role="button">Firefox</a>
            <a class="btn btn-light btn-small" href="#" role="button">Propresenter</a>
            <a class="btn btn-light btn-small" href="https://www.dropbox.com/s/m0kvlnc1p4smvi1/Pro_Tools_2018_1_Mac_101476.dmg?dl=1" role="button">Protools</a>
            <a class="btn btn-light btn-small" href="#" role="button">Vista</a>
            <a class="btn btn-light btn-small" href="#" role="button">Slack</a>
            <a class="btn btn-light btn-small" href="https://download.scdn.co/SpotifyInstaller.zip" role="button">Spotify</a>
            <a class="btn btn-light btn-small" href="#" role="button">Cisco AnyConnect</a>
            <a class="btn btn-light btn-small" href="#" role="button">Creative Cloud</a>
            <!-- <a class="btn btn-light btn-small" href="#" role="button"></a> -->
        </p>
    </div>

    {{template "footer.tmpl.html"}}